Repository ryoma100/escafeFlowEditor-REMAKE: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, tsc, cspell

prettier:
  run: 'pnpm prettier --write --ignore-unknown {staged_files}
  
    git add {staged_files}
  
    '

eslint:
  run: 'pnpm eslint {staged_files}
  
    git add {staged_files}
  
    '

tsc:
  run: pnpm lint:tsc

cspell:
  run: pnpm cspell lint --gitignore --cache {staged_files}

add snapshot to readme.md
  README.md
  docs/flow.png
Due: prettier, cspell

move svg to component
  docs/index.html
  public/crab/README.md
  public/crab/manual-activity.svg
  src/assets/material-icons/comment-node.svg
  src/assets/material-icons/comment.svg
  src/assets/material-icons/end-node.svg
  src/assets/material-icons/end.svg
  src/assets/material-icons/start-node.svg
  src/assets/material-icons/start.svg
  src/components/diagram/activity-node.tsx
  src/components/diagram/extend-node.tsx
  src/components/dialog/activity-dialog.tsx
  src/components/dialog/setting-dialog.tsx
  src/components/toolbar/toolbar.tsx
  src/constants/i18n-ja.ts
  src/constants/i18n.ts
  src/context/app-context.tsx
  src/icons/auto-activity-icon.tsx
  src/icons/auto-timer-activity-icon.tsx
  src/icons/comment.tsx
  src/icons/cursor-icon.tsx
  src/icons/end-icon.tsx
  src/icons/manual-activity-icon.tsx
  src/icons/manual-timer-activity-icon.tsx
  src/icons/start-icon.tsx
  src/icons/transition-icon.tsx
  src/icons/user-activity-icon.tsx
Due: prettier, eslint, tsc, cspell

add crab theme
  public/crab/auto-activity.jpg
  public/crab/auto-timer-activity.jpg
  public/crab/comment.jpg
  public/crab/manual-activity.jpg
  public/crab/manual-activity.png
  public/crab/manual-timer-activity.jpg
  public/crab/user-activity.jpg
  src/components/dialog/setting-dialog.tsx
  src/constants/i18n-ja.ts
  src/constants/i18n.ts
  src/context/app-context.tsx
  src/icons/auto-activity-icon.tsx
  src/icons/auto-timer-activity-icon.tsx
  src/icons/manual-activity-icon.tsx
  src/icons/manual-timer-activity-icon.tsx
  src/icons/user-activity-icon.tsx
  src/index.css
Due: prettier, eslint, tsc, cspell

fix user-activity for crab theme
  src/icons/user-activity-icon.tsx
Due: prettier, eslint, tsc, cspell

fix ManualTimerActivityIcon
  src/components/diagram/activity-node.tsx
  src/components/parts/toggle-icon-button.tsx
Due: prettier, eslint, tsc, cspell

ver 0.1.1
  package.json
  src-tauri/Cargo.toml
  src/components/dialog/about-dialog.tsx
Due: prettier, eslint, tsc, cspell

ver 0.1.1
  src-tauri/tauri.conf.json
Due: prettier, cspell

add release github action
  .github/workflows/release.yml
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/components/dialog/about-dialog.tsx
Due: prettier, eslint, tsc, cspell

add ci
  .cspell.json
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

test
  .github/workflows/ci.yml
Due: prettier, cspell

no check audit
  lefthook.yml
Due: prettier, cspell

add ci
  .github/workflows/ci.yml
  package.json
Due: prettier, cspell

upgrade storybook
  .github/workflows/ci.yml
  .storybook/main.ts
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/components/dialog/__stories__/about-dialog.stories.tsx
Due: prettier, eslint, tsc, cspell

add storybook deploy
  .github/workflows/cd.yml
  docs/index.html
Due: prettier, cspell

change job name
  .github/workflows/ci.yml
Due: prettier, cspell

fix/storybook-url
  docs/index.html
Due: none

add sonar-cloud
  .github/workflows/ci.yml
  sonar-project.properties
Due: prettier, cspell

add lcov coverage
  vite.config.ts
Due: prettier, eslint, tsc, cspell

add lcov.info setting
  sonar-project.properties
Due: none

Update sonar-project.properties
  sonar-project.properties
Due: none

coverage test
  sonar-project.properties
Due: none

fix sonarcloud caverage
  sonar-project.properties
Due: none

Update README.md
  README.md
Due: prettier, cspell

split context
  .storybook/preview.ts
  src/App.tsx
  src/components/diagram/activity-node.tsx
  src/components/diagram/diagram.tsx
  src/components/diagram/extend-edge.tsx
  src/components/diagram/extend-node.tsx
  src/components/diagram/transition-edge.tsx
  src/components/dialog/__stories__/setting-dialog.stories.tsx
  src/components/dialog/about-dialog.tsx
  src/components/dialog/activity-dialog.tsx
  src/components/dialog/actor-dialog.tsx
  src/components/dialog/comment-dialog.tsx
  src/components/dialog/confirm-dialog.tsx
  src/components/dialog/load-dialog.tsx
  src/components/dialog/message-dialog.tsx
  src/components/dialog/process-dialog.tsx
  src/components/dialog/project-dialog.tsx
  src/components/dialog/save-dialog.tsx
  src/components/dialog/setting-dialog.tsx
  src/components/dialog/transition-dialog.tsx
  src/components/list/actor-list.tsx
  src/components/list/process-list.tsx
  src/components/main/main.tsx
  src/components/menu/menu.tsx
  src/components/toolbar/toolbar.tsx
  src/constants/i18n-ja.ts
  src/context/app-context.tsx
  src/context/model-context.tsx
  src/context/theme-context.tsx
  src/data-model/dialog-model.ts
  src/icons/auto-activity-icon.tsx
  src/icons/auto-timer-activity-icon.tsx
  src/icons/manual-activity-icon.tsx
  src/icons/manual-timer-activity-icon.tsx
  src/icons/user-activity-icon.tsx
  src/index.tsx
Due: prettier, eslint, tsc, cspell

fix: pnpm audit
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

add i18n to storybook
  .storybook/preview.jsx
  src/components/dialog/__stories__/activity-dialog.stories.tsx
  src/components/dialog/__stories__/actor-dialog.stories.tsx
  src/components/dialog/__stories__/comment-dialog.stories.tsx
  src/components/dialog/__stories__/confirm-dialog.stories.tsx
  src/components/dialog/__stories__/load-dialog.stories.tsx
  src/components/dialog/__stories__/message-dialog.stories.tsx
  src/components/dialog/__stories__/process-dialog.stories.tsx
  src/components/dialog/__stories__/project-dialog.stories.tsx
  src/components/dialog/__stories__/save-dialog.stories.tsx
  src/components/dialog/__stories__/transition-dialog.stories.tsx
  src/components/dialog/activity-dialog.tsx
  src/components/dialog/actor-dialog.tsx
  src/components/dialog/comment-dialog.tsx
  src/components/dialog/confirm-dialog.tsx
  src/components/dialog/load-dialog.tsx
  src/components/dialog/message-dialog.tsx
  src/components/dialog/process-dialog.tsx
  src/components/dialog/project-dialog.tsx
  src/components/dialog/save-dialog.tsx
  src/components/dialog/setting-dialog.tsx
  src/components/dialog/transition-dialog.tsx
  src/constants/i18n-ja.ts
  src/context/theme-context.tsx
Due: prettier, eslint, tsc, cspell

add theme to storybook
  .cspell.json
  .storybook/preview.tsx
Due: prettier, eslint, tsc, cspell

modify docs design
  .storybook/preview.jsx
  README.md
  docs/index.css
  docs/index.html
Due: prettier, cspell

add window-unload-dialog
  .storybook/preview.jsx
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/App.tsx
  src/components/dialog/load-dialog.tsx
  src/components/dialog/save-dialog.tsx
  src/constants/i18n-ja.ts
  src/constants/i18n.ts
  src/index.tsx
Due: prettier, eslint, tsc, cspell

add context-menu
  package.json
  pnpm-lock.yaml
  src/components/diagram/diagram.tsx
  src/components/parts/context-menu.tsx
Due: prettier, eslint, tsc, cspell

add readonly to props attributes
  src/components/diagram/activity-node.tsx
  src/components/diagram/diagram.tsx
  src/components/diagram/extend-edge.tsx
  src/components/diagram/extend-node.tsx
  src/components/diagram/transition-edge.tsx
  src/components/dialog/about-dialog.tsx
  src/components/dialog/activity-dialog.tsx
  src/components/dialog/actor-dialog.tsx
  src/components/dialog/comment-dialog.tsx
  src/components/dialog/confirm-dialog.tsx
  src/components/dialog/load-dialog.tsx
  src/components/dialog/message-dialog.tsx
  src/components/dialog/process-dialog.tsx
  src/components/dialog/project-dialog.tsx
  src/components/dialog/save-dialog.tsx
  src/components/dialog/setting-dialog.tsx
  src/components/dialog/transition-dialog.tsx
  src/components/menu/menu.tsx
  src/components/parts/buttons-container.tsx
  src/components/parts/context-menu.tsx
  src/components/parts/toggle-icon-button.tsx
  src/context/model-context.tsx
  src/context/theme-context.tsx
Due: prettier, eslint, tsc, cspell

eslint flat config
  .eslintrc.json
  .prettierignore
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/diagram/activity-node.tsx
  src/components/diagram/diagram.tsx
  src/components/diagram/extend-edge.tsx
  src/components/diagram/extend-node.tsx
  src/components/diagram/transition-edge.tsx
  src/components/dialog/activity-dialog.tsx
  src/components/dialog/setting-dialog.tsx
  src/components/main/main.tsx
  src/components/menu/menu.tsx
  src/components/parts/toggle-icon-button.tsx
Due: prettier, eslint, tsc, cspell

fix context-menu point
  package.json
  pnpm-lock.yaml
  src/components/diagram/diagram.tsx
  src/components/parts/context-menu.tsx
  src/constants/app-const.ts
  src/data-source/data-type.ts
Due: prettier, eslint, tsc, cspell

adjust context-menu point
  src/components/diagram/diagram.tsx
  src/components/parts/context-menu.tsx
Due: prettier, eslint, tsc, cspell

npx storybook@next upgrade
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

update docs
  .github/workflows/ci.yml
  docs/index.html
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

remove prettier plugin
  .cspell.json
  .prettierrc.js
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/diagram/activity-node.tsx
  src/components/diagram/diagram.tsx
  src/components/diagram/extend-node.tsx
  src/components/diagram/transition-edge.tsx
  src/components/dialog/about-dialog.tsx
  src/components/dialog/activity-dialog.tsx
  src/components/dialog/actor-dialog.tsx
  src/components/dialog/comment-dialog.tsx
  src/components/dialog/confirm-dialog.tsx
  src/components/dialog/load-dialog.tsx
  src/components/dialog/message-dialog.tsx
  src/components/dialog/process-dialog.tsx
  src/components/dialog/project-dialog.tsx
  src/components/dialog/save-dialog.tsx
  src/components/dialog/setting-dialog.tsx
  src/components/dialog/transition-dialog.tsx
  src/components/parts/context-menu.tsx
  src/context/model-context.tsx
  src/context/theme-context.tsx
  src/data-model/dialog-model.ts
  src/data-model/project-model.ts
  src/data-model/transaction-edge-model.ts
  src/icons/auto-activity-icon.tsx
  src/icons/auto-timer-activity-icon.tsx
  src/icons/manual-activity-icon.tsx
  src/icons/manual-timer-activity-icon.tsx
  src/icons/user-activity-icon.tsx
  src/index.tsx
Due: prettier, eslint, tsc, cspell

add right mouse button scroll
  package.json
  pnpm-lock.yaml
  src/components/diagram/diagram.tsx
  src/data-model/diagram-model.ts
Due: prettier, eslint, tsc, cspell

disable default context menu on custom context menu
  src/components/parts/context-menu.tsx
Due: prettier, eslint, tsc, cspell

Path conditions:
  prettier: any of: *.{tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
  eslint: any of: *.{tsx,ts,mts,mcs}
  tsc: any of: *.{tsx,ts}
  cspell: any of: *.{tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
