Repository ryoma100/escafeFlowEditor-REMAKE: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, tsc, cspell

prettier:
  run: 'pnpm prettier --write --ignore-unknown {staged_files}
  
    git add {staged_files}
  
    '

eslint:
  run: pnpm eslint {staged_files}

tsc:
  run: pnpm lint:tsc

cspell:
  run: pnpm cspell lint --gitignore --cache {staged_files}

exclude dependabot
  .github/workflows/ci.yml
Due: prettier

add select scroll
  src/components/diagram/drag-strategy/add-activity-edge-strategy.ts
  src/components/diagram/drag-strategy/add-comment-edge-strategy.ts
  src/components/diagram/drag-strategy/add-start-edge-strategy.ts
  src/components/diagram/drag-strategy/default-strategy.ts
  src/components/diagram/drag-strategy/drag-scroll-delegate.ts
  src/components/diagram/drag-strategy/drag-strategy-type.ts
  src/components/diagram/drag-strategy/move-nodes-strategy.ts
  src/components/diagram/drag-strategy/resize-activity-left-strategy.ts
  src/components/diagram/drag-strategy/resize-activity-right-strategy.ts
  src/components/diagram/drag-strategy/rotate-nodes-strategy.ts
  src/components/diagram/drag-strategy/scale-nodes-strategy.ts
  src/components/diagram/drag-strategy/scroll-strategy.ts
  src/components/diagram/drag-strategy/select-box-strategy.ts
  src/components/diagram/drag-strategy/select-circle-strategy.ts
  src/components/diagram/drag-strategy/select-strategy.ts
  src/components/diagram/listener/pointer-listener.ts
  src/utils/line-utils.ts
  src/utils/rectangle-utils.ts
Due: prettier, eslint, tsc, cspell

update volta
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

add drag-scroll-strategy
  src/components/diagram/drag-strategy/drag-scroll-delegate.ts
  src/components/diagram/drag-strategy/move-nodes-strategy.ts
  src/components/diagram/drag-strategy/select-strategy.ts
Due: prettier, eslint, tsc, cspell

add valibot
  .cspell.json
  package.json
  pnpm-lock.yaml
  src/components/dialog/__stories__/activity-dialog.stories.tsx
  src/components/dialog/__stories__/transition-dialog.stories.tsx
  src/components/dialog/activity-dialog.tsx
  src/components/dialog/transition-dialog.tsx
  src/data-model/activity-node-model.ts
  src/data-model/edge-model.ts
  src/data-model/extend-edge-model.ts
  src/data-model/transaction-edge-model.ts
  src/data-source/__tests__/data-converter.test.ts
  src/data-source/__tests__/data-factory.test.ts
  src/data-source/data-converter.ts
  src/data-source/data-factory.ts
  src/data-source/data-type.ts
Due: prettier, eslint, tsc, cspell

tweak
  src/components/dialog/__stories__/activity-dialog.stories.tsx
  src/data-source/data-type.ts
Due: prettier, eslint, tsc, cspell

separate schema and type
  src/data-source/data-converter.ts
  src/data-source/data-factory.ts
  src/data-source/data-schema.ts
  src/data-source/data-type.ts
Due: prettier, eslint, tsc, cspell

add valibot graph rule
  src/data-source/data-schema.ts
Due: prettier, eslint, tsc, cspell

add: move edge drag
  src/components/diagram/activity-node.tsx
  src/components/diagram/diagram.tsx
  src/components/diagram/drag-strategy/add-comment-edge-strategy.ts
  src/components/diagram/drag-strategy/add-start-edge-strategy.ts
  src/components/diagram/drag-strategy/drag-strategy-type.ts
  src/components/diagram/drag-strategy/move-end-edge-strategy.ts
  src/components/diagram/drag-strategy/move-start-edge-strategy.ts
  src/components/diagram/extend-edge.tsx
  src/components/diagram/listener/pointer-listener.ts
  src/components/diagram/transition-edge.tsx
  src/constants/app-const.ts
  src/context/model-context.tsx
  src/data-model/edge-model.ts
  src/data-model/extend-edge-model.ts
  src/data-model/transaction-edge-model.ts
  src/data-source/__tests__/data-converter.test.ts
  src/utils/line-utils.ts
  src/utils/rectangle-utils.ts
Due: prettier, eslint, tsc, cspell

fix: edge relation rule
  src/components/diagram/drag-strategy/add-comment-edge-strategy.ts
  src/components/diagram/drag-strategy/add-start-edge-strategy.ts
  src/components/diagram/drag-strategy/move-end-edge-strategy.ts
  src/components/diagram/drag-strategy/move-start-edge-strategy.ts
  src/components/diagram/listener/pointer-listener.ts
  src/data-model/extend-edge-model.ts
  src/data-model/extend-node-model.ts
Due: prettier, eslint, tsc, cspell

pnpm up & volta pin
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

fix: edge link rule
  src/components/diagram/drag-strategy/add-activity-edge-strategy.ts
  src/components/diagram/drag-strategy/add-comment-edge-strategy.ts
  src/components/diagram/drag-strategy/add-start-edge-strategy.ts
  src/components/diagram/drag-strategy/move-end-edge-strategy.ts
  src/components/diagram/drag-strategy/move-start-edge-strategy.ts
  src/data-model/extend-edge-model.ts
Due: prettier, eslint, tsc, cspell

add: implement color while dragging edge
  src/components/diagram/drag-strategy/add-activity-edge-strategy.ts
  src/components/diagram/drag-strategy/add-comment-edge-strategy.ts
  src/components/diagram/drag-strategy/add-start-edge-strategy.ts
  src/components/diagram/drag-strategy/move-end-edge-strategy.ts
  src/components/diagram/drag-strategy/move-start-edge-strategy.ts
  src/components/diagram/extend-edge.tsx
  src/components/diagram/transition-edge.tsx
  src/data-model/edge-model.ts
  src/data-model/extend-edge-model.ts
  src/data-source/__tests__/data-factory.test.ts
  src/data-source/data-factory.ts
  src/data-source/data-schema.ts
Due: prettier, eslint, tsc, cspell

pnpm add --save-dev @storybook/builder-vite
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
Due: prettier, eslint, tsc, cspell

parallel ci
  .github/workflows/ci.yml
Due: prettier

update ci.yaml
  .github/workflows/ci.yml
Due: prettier

update ci
  .github/workflows/ci.yml
Due: prettier

remove sonar-cloud
  .github/workflows/ci.yml
  README.md
  sonar-project.properties
Due: prettier, cspell

Delete .github/workflows/delta-ts-graph.yml
  .github/workflows/delta-ts-graph.yml
Due: prettier

add: PR coverage
  .github/workflows/ci.yml
  vite.config.ts
Due: prettier, eslint, tsc, cspell

update ci
  .github/workflows/ci.yml
  vite.config.ts
Due: prettier, eslint, tsc, cspell

refactor: replace edge
  src/components/diagram/drag-strategy/add-activity-edge-strategy.ts
  src/components/diagram/drag-strategy/add-comment-edge-strategy.ts
  src/components/diagram/drag-strategy/add-start-edge-strategy.ts
  src/components/diagram/drag-strategy/move-end-edge-strategy.ts
  src/components/diagram/drag-strategy/move-start-edge-strategy.ts
  src/components/diagram/listener/pointer-listener.ts
  src/data-model/activity-node-model.ts
  src/data-model/edge-model.ts
  src/data-model/extend-edge-model.ts
  src/data-model/extend-node-model.ts
  src/data-model/node-model.ts
  src/data-model/transaction-edge-model.ts
Due: prettier, eslint, tsc, cspell

add: disable dragging line
  src/components/diagram/drag-strategy/move-end-edge-strategy.ts
  src/components/diagram/drag-strategy/move-start-edge-strategy.ts
  src/components/diagram/extend-edge.tsx
  src/components/diagram/transition-edge.tsx
  src/data-model/edge-model.ts
  src/data-source/__tests__/data-factory.test.ts
  src/data-source/data-converter.ts
  src/data-source/data-factory.ts
  src/data-source/data-schema.ts
Due: prettier, eslint, tsc, cspell

pnpm up -L
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

fix: ok button in about dialog
  package.json
  pnpm-lock.yaml
  src/components/dialog/about-dialog.tsx
Due: prettier, eslint, tsc, cspell

npx storybook@latest upgrade
  .storybook/preview.jsx
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

npx @tailwindcss/upgrade@next
  .storybook/preview.jsx
  eslint.config.js
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/components/diagram/diagram.tsx
  src/components/diagram/extend-edge.tsx
  src/components/diagram/extend-node.tsx
  src/components/diagram/transition-edge.tsx
  src/components/toolbar/toolbar.tsx
  src/index.css
  tailwind.config.js
Due: prettier, eslint, tsc, cspell

pnpm up --latest
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

update: eslint-flat-config
  .cspell.json
  .vscode/settings.json
  eslint.config.js
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

add: local vrt
  .gitignore
  .storybook/preview.jsx
  package.json
  pnpm-lock.yaml
  reg.json
  src/App.tsx
  src/__stories__/App.stories.tsx
  src/components/diagram/__stories__/activity-node.stories.tsx
  src/components/dialog/__stories__/activity-dialog.stories.tsx
  src/components/dialog/__stories__/save-dialog.stories.tsx
Due: prettier, eslint, tsc, cspell

Path conditions:
  prettier: any of: *.{tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
  eslint: any of: *.{tsx,ts,mts,mcs}
  tsc: any of: *.{tsx,ts}
  cspell: any of: *.{tsx,ts,mts,mcs,mjs,cjs,js,json,md}
