Repository ryoma100/escafeFlowEditor-REMAKE: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, tsc, cspell

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts,jsx,tsx}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: '(^|/)(application|routes)\.rb$'
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: |
        pnpm prettier --write --ignore-unknown {staged_files}
        git add {staged_files}
    eslint:
      glob: "*.{tsx,ts,mts,mcs}"
      run: |
        pnpm eslint {staged_files}
        git add {staged_files}
    tsc:
      glob: "*.{tsx,ts}"
      run: pnpm lint:tsc
    cspell:
      glob: "*.{tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: pnpm cspell lint --gitignore --cache {staged_files}
    audit:
      run: pnpm audit
    test:
      run: pnpm test run

redesign icons
  .storybook/preview.ts
  lefthook.yml
  pnpm-lock.yaml
  src/.DS_Store
  src/assets/.DS_Store
  src/assets/material-icons/arrow_selector_tool_FILL0_wght400_GRAD0_opsz24.svg
  src/assets/material-icons/auto-activity.svg
  src/assets/material-icons/auto-timer-activity.svg
  src/assets/material-icons/comment-node.svg
  src/assets/material-icons/comment.svg
  src/assets/material-icons/comment_FILL0_wght400_GRAD0_opsz24.svg
  src/assets/material-icons/computer_FILL0_wght400_GRAD0_opsz24.svg
  src/assets/material-icons/cursor.svg
  src/assets/material-icons/end-node.svg
  src/assets/material-icons/end.svg
  src/assets/material-icons/manual-activity.svg
  src/assets/material-icons/manual-timer-activity.svg
  src/assets/material-icons/north_east_FILL0_wght400_GRAD0_opsz24.svg
  src/assets/material-icons/pan_tool_FILL0_wght400_GRAD0_opsz24.svg
  src/assets/material-icons/pause_circle_FILL0_wght400_GRAD0_opsz24.svg
  src/assets/material-icons/person_check_FILL0_wght400_GRAD0_opsz24.svg
  src/assets/material-icons/play_arrow_FILL0_wght400_GRAD0_opsz24.svg
  src/assets/material-icons/play_circle_FILL0_wght400_GRAD0_opsz24.svg
  src/assets/material-icons/schedule_FILL0_wght400_GRAD0_opsz24.svg
  src/assets/material-icons/start-node.svg
  src/assets/material-icons/start.svg
  src/assets/material-icons/stop_FILL0_wght400_GRAD0_opsz24.svg
  src/assets/material-icons/transition.svg
  src/assets/material-icons/user-activity.svg
  src/components/diagram/activity-node.tsx
  src/components/diagram/diagram.tsx
  src/components/diagram/extend-node.tsx
  src/components/dialog/activity-dialog.tsx
  src/components/parts/toggle-icon-button.tsx
  src/components/toolbar/toolbar.tsx
  src/constants/app-const.ts
  src/data-model/node-model.ts
  src/data-source/__tests__/data-converter.test.ts
  src/stories/end-node.stories.tsx
  src/utils/rectangle-utils.ts
Due: prettier, eslint, tsc, cspell

fix classList
  src/components/diagram/diagram.tsx
  src/components/diagram/extend-edge.tsx
  src/components/diagram/extend-node.tsx
  src/components/diagram/transition-edge.tsx
Due: prettier, eslint, tsc, cspell

adjust design
  package.json
  pnpm-lock.yaml
  src/App.tsx
Due: prettier, eslint, tsc, cspell

add activity-dialog story
  src/components/diagram/__stories__/activity-node.stories.tsx
  src/components/diagram/__stories__/comment-node.stories.tsx
  src/components/diagram/__stories__/end-node.stories.tsx
  src/components/diagram/__stories__/start-node.stories.tsx
  src/components/dialog/__stories__/about-dialog.stories.tsx
  src/components/dialog/__stories__/activity-dialog.stories.tsx
  src/components/dialog/about-dialog.tsx
  src/components/dialog/activity-dialog.tsx
Due: prettier, eslint, tsc, cspell

add dialog story
  src/components/dialog/__stories__/actor-dialog.stories.tsx
  src/components/dialog/__stories__/comment-dialog.stories.tsx
  src/components/dialog/__stories__/confirm-dialog.stories.tsx
  src/components/dialog/__stories__/load-dialog.stories.tsx
  src/components/dialog/__stories__/message-dialog.stories.tsx
  src/components/dialog/__stories__/process-dialog.stories.tsx
  src/components/dialog/__stories__/project-dialog.stories.tsx
  src/components/dialog/__stories__/save-dialog.stories.tsx
  src/components/dialog/__stories__/transition-dialog.stories.tsx
  src/components/dialog/actor-dialog.tsx
  src/components/dialog/comment-dialog.tsx
  src/components/dialog/confirm-dialog.tsx
  src/components/dialog/load-dialog.tsx
  src/components/dialog/message-dialog.tsx
  src/components/dialog/process-dialog.tsx
  src/components/dialog/project-dialog.tsx
  src/components/dialog/save-dialog.tsx
  src/components/dialog/transition-dialog.tsx
Due: prettier, eslint, tsc, cspell

fix: submit dialog form
  src/components/dialog/transition-dialog.tsx
  src/components/menu/menu.tsx
  src/data-model/project-model.ts
  src/data-model/transaction-edge-model.ts
Due: prettier, eslint, tsc, cspell

pnpm up
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

fix file save
  src/components/menu/menu.tsx
Due: prettier, eslint, tsc, cspell

rename package name
  .github/workflows/main.yml
  .vscode/launch.json
  README.md
  index.html
  package.json
  pnpm-lock.yaml
  src-tauri/tauri.conf.json
  src/components/dialog/about-dialog.tsx
Due: prettier, eslint, tsc, cspell

add tauri save dialog
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/components/dialog/save-dialog.tsx
  src/components/toolbar/toolbar.tsx
Due: prettier, eslint, tsc, cspell

Update README.md
  README.md
Due: prettier, cspell

add tauri load dialog
  index.html
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/components/dialog/load-dialog.tsx
  src/components/dialog/process-dialog.tsx
  src/components/dialog/save-dialog.tsx
Due: prettier, eslint, tsc, cspell

fix: load for safari
  src/components/dialog/load-dialog.tsx
Due: prettier, eslint, tsc, cspell

fix: double click scroll
  src/components/diagram/diagram.tsx
Due: prettier, eslint, tsc, cspell

Update main.yml
  .github/workflows/main.yml
Due: prettier, cspell

add icons
  index.html
  package.json
  pnpm-lock.yaml
  public/tauri.svg
  public/vite.svg
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/Square107x107Logo.png
  src-tauri/icons/Square142x142Logo.png
  src-tauri/icons/Square150x150Logo.png
  src-tauri/icons/Square284x284Logo.png
  src-tauri/icons/Square30x30Logo.png
  src-tauri/icons/Square310x310Logo.png
  src-tauri/icons/Square44x44Logo.png
  src-tauri/icons/Square71x71Logo.png
  src-tauri/icons/Square89x89Logo.png
  src-tauri/icons/StoreLogo.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
  src-tauri/tauri.conf.json
  src/assets/material-icons/logo.svg
Due: prettier, cspell

add CI/CD
  .github/workflows/main.yml
  docs/index.html
  lefthook.yml
Due: prettier, cspell

add github pages
  .gitignore
  docs/index.css
  docs/index.html
  src/.DS_Store
Due: none

append docs
  .github/workflows/main.yml
  docs/index.css
  docs/index.html
Due: prettier, cspell

add open about web in tauri
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: prettier, cspell

fix: file load and save
  src/components/dialog/load-dialog.tsx
  src/components/dialog/save-dialog.tsx
  src/components/parts/buttons-container.tsx
Due: prettier, eslint, tsc, cspell

add i18n dictionary
  .cspell.json
  .storybook/main.ts
  src/App.tsx
  src/components/dialog/__stories__/activity-dialog.stories.tsx
  src/components/dialog/__stories__/actor-dialog.stories.tsx
  src/components/dialog/__stories__/comment-dialog.stories.tsx
  src/components/dialog/__stories__/confirm-dialog.stories.tsx
  src/components/dialog/__stories__/load-dialog.stories.tsx
  src/components/dialog/__stories__/message-dialog.stories.tsx
  src/components/dialog/__stories__/process-dialog.stories.tsx
  src/components/dialog/__stories__/project-dialog.stories.tsx
  src/components/dialog/__stories__/save-dialog.stories.tsx
  src/components/dialog/__stories__/transition-dialog.stories.tsx
  src/components/dialog/activity-dialog.tsx
  src/components/dialog/actor-dialog.tsx
  src/components/dialog/comment-dialog.tsx
  src/components/dialog/confirm-dialog.tsx
  src/components/dialog/load-dialog.tsx
  src/components/dialog/process-dialog.tsx
  src/components/dialog/project-dialog.tsx
  src/components/dialog/save-dialog.tsx
  src/components/dialog/transition-dialog.tsx
  src/constants/i18n-en.ts
  src/constants/i18n-ja.ts
  src/constants/i18n.ts
  src/context/app-context.tsx
  src/data-model/activity-node-model.ts
  src/data-model/actor-model.ts
  src/data-model/process-model.ts
  src/data-model/transaction-edge-model.ts
  src/data-source/__tests__/data-converter.test.ts
  src/data-source/__tests__/data-factory.test.ts
  src/data-source/data-factory.ts
Due: prettier, eslint, tsc, cspell

add setting dialog
  src/App.tsx
  src/components/dialog/setting-dialog.tsx
  src/components/menu/menu.tsx
  src/constants/i18n-ja.ts
  src/constants/i18n.ts
  src/context/app-context.tsx
Due: prettier, eslint, tsc, cspell

add setting-dialog to storybook
  src/components/dialog/__stories__/setting-dialog.stories.tsx
  src/components/dialog/setting-dialog.tsx
  src/index.css
Due: prettier, eslint, tsc, cspell

add storybook to cd
  .github/workflows/main.yml
  .gitignore
  docs/index.html
Due: prettier, cspell

remove storybook-static
  .github/workflows/main.yml
  docs/index.html
  package.json
  pnpm-lock.yaml
Due: prettier, cspell
