Repository ryoma100/escafeFlowEditor-REMAKE: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, tsc, cspell

prettier:
  run: 'pnpm prettier --write --ignore-unknown {staged_files}
  
    git add {staged_files}
  
    '

eslint:
  run: pnpm eslint {staged_files}

tsc:
  run: pnpm lint:tsc

cspell:
  run: pnpm cspell lint --gitignore --cache {staged_files}

add appearance setting
  src/components/diagram/diagram.tsx
  src/components/dialog/setting-dialog.tsx
  src/constants/i18n-ja.ts
  src/constants/i18n.ts
  src/context/theme-context.tsx
Due: prettier, eslint, tsc, cspell

re-design docs page
  .storybook/preview.jsx
  .vscode/launch.json
  docs/download_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg
  docs/github-mark.svg
  docs/index.css
  docs/index.html
  docs/open_in_browser_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg
  package.json
  pnpm-lock.yaml
  src/components/diagram/diagram.tsx
  src/context/model-context.tsx
  src/context/theme-context.tsx
  src/data-model/diagram-model.ts
  src/index.css
Due: prettier, eslint, tsc, cspell

add alt to img tag
  docs/index.html
Due: none

zoom is based on center point
  src/components/diagram/diagram.tsx
Due: prettier, eslint, tsc, cspell

add wheel zoom
  package.json
  pnpm-lock.yaml
  src/components/diagram/diagram.tsx
  src/components/main/main.tsx
  src/context/theme-context.tsx
Due: prettier, eslint, tsc, cspell

zoom with mouse pointer as center
  package.json
  pnpm-lock.yaml
  src/components/diagram/diagram.tsx
  src/components/main/main.tsx
  src/data-model/diagram-model.ts
Due: prettier, eslint, tsc, cspell

add actions-timeline
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: prettier

fix save and load
  src/components/dialog/load-dialog.tsx
  src/components/main/main.tsx
  src/data-model/diagram-model.ts
  src/data-source/data-converter.ts
Due: prettier, eslint, tsc, cspell

remove audit from lefthook
  lefthook.yml
  pnpm-lock.yaml
Due: prettier

remove audit from ci
  .github/workflows/ci.yml
Due: prettier

add grid line
  .cspell.json
  src/components/diagram/diagram.tsx
  src/components/dialog/load-dialog.tsx
  src/components/main/main.tsx
  src/constants/app-const.ts
  src/context/model-context.tsx
  src/data-model/activity-node-model.ts
  src/data-model/diagram-model.ts
  src/data-model/node-model.ts
  src/data-source/data-converter.ts
  src/index.css
Due: prettier, eslint, tsc, cspell

fix: load flash save data
  src/components/diagram/diagram.tsx
  src/components/dialog/load-dialog.tsx
  src/constants/app-const.ts
  src/data-model/extend-node-model.ts
  src/data-model/node-model.ts
  src/data-source/__tests__/data-converter.test.ts
  src/data-source/data-converter.ts
Due: prettier, eslint, tsc, cspell

adjust load base point
  src/App.tsx
  src/components/dialog/load-dialog.tsx
  src/components/list/process-list.tsx
  src/components/main/main.tsx
  src/context/model-context.tsx
  src/context/theme-context.tsx
  src/data-model/diagram-model.ts
  src/data-source/data-converter.ts
Due: prettier, eslint, tsc, cspell

fix storybook error
  .storybook/preview.jsx
  src/context/theme-context.tsx
Due: prettier, eslint, tsc, cspell

add red theme color
  src/components/dialog/setting-dialog.tsx
  src/constants/i18n-ja.ts
  src/constants/i18n.ts
  src/context/theme-context.tsx
  src/data-model/extend-node-model.ts
  src/index.css
Due: prettier, eslint, tsc, cspell

add color to storybook
  .storybook/preview.jsx
Due: none

remove __screenshots__
  .gitignore
  __screenshots__/Dialog/About/About.png
  __screenshots__/Dialog/Activity/Activity.png
  __screenshots__/Dialog/Actor/Actor.png
  __screenshots__/Dialog/Comment/Comment.png
  __screenshots__/Dialog/Confirm/Confirm.png
  __screenshots__/Dialog/Load/Load.png
  __screenshots__/Dialog/Message/Message.png
  __screenshots__/Dialog/Process/Process.png
  __screenshots__/Dialog/Project/Project.png
  __screenshots__/Dialog/Save/Save.png
  __screenshots__/Dialog/Setting/Setting.png
  __screenshots__/Dialog/Transition/Transition.png
  __screenshots__/Node/Activity/Auto Activity.png
  __screenshots__/Node/Activity/Auto Timer Activity.png
  __screenshots__/Node/Activity/Manual Activity.png
  __screenshots__/Node/Activity/Manual Timer Activity.png
  __screenshots__/Node/Activity/User Activity.png
  __screenshots__/Node/Comment/Comment.png
  __screenshots__/Node/End/End.png
  __screenshots__/Node/Start/Start.png
Due: none

add TouchEvent
  .storybook/preview.jsx
  src/App.tsx
  src/components/diagram/activity-node.tsx
  src/components/diagram/diagram.tsx
  src/components/main/main.tsx
  src/context/model-context.tsx
  src/index.css
Due: prettier, eslint, tsc, cspell

fix node drag on touch
  src/components/diagram/activity-node.tsx
  src/components/diagram/diagram.tsx
  src/components/diagram/extend-node.tsx
  src/utils/rectangle-utils.ts
Due: prettier, eslint, tsc, cspell

fix add edge on touch
  src/components/diagram/activity-node.tsx
  src/components/diagram/diagram.tsx
  src/components/diagram/extend-node.tsx
  src/components/dialog/confirm-dialog.tsx
  src/components/main/main.tsx
  src/components/menu/menu.tsx
  src/context/theme-context.tsx
Due: prettier, eslint, tsc, cspell

add zoom/scroll on multi touch
  src/components/diagram/diagram.tsx
  src/utils/line-utils.ts
Due: prettier, eslint, tsc, cspell

add full screen
  src/components/menu/menu.tsx
  src/constants/i18n-ja.ts
  src/constants/i18n.ts
Due: prettier, eslint, tsc, cspell

disable swiping back page
  src/components/diagram/diagram.tsx
  src/components/list/actor-list.tsx
  src/components/list/process-list.tsx
Due: prettier, eslint, tsc, cspell

add Branded Types
  src/components/dialog/__stories__/transition-dialog.stories.tsx
  src/components/dialog/activity-dialog.tsx
  src/components/dialog/transition-dialog.tsx
  src/data-model/activity-node-model.ts
  src/data-model/extend-edge-model.ts
  src/data-model/transaction-edge-model.ts
  src/data-source/__tests__/data-converter.test.ts
  src/data-source/__tests__/data-factory.test.ts
  src/data-source/data-converter.ts
  src/data-source/data-factory.ts
  src/data-source/data-type.ts
Due: prettier, eslint, tsc, cspell

update tauri v1 to v2
  .cspell.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.toml
  src-tauri/capabilities/migrated.json
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/capabilities.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/macOS-schema.json
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/App.tsx
  src/components/dialog/load-dialog.tsx
  src/components/dialog/save-dialog.tsx
Due: prettier, eslint, tsc, cspell

pnpm audit --fix
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

adjust iPad layout
  src/App.tsx
  src/components/menu/menu.tsx
  src/constants/i18n-ja.ts
  src/constants/i18n.ts
  src/index.css
  src/index.tsx
Due: prettier, eslint, tsc, cspell

change touchEvent to pointerEvent
  package.json
  pnpm-lock.yaml
  src/components/diagram/activity-node.tsx
  src/components/diagram/diagram.tsx
  src/components/diagram/extend-edge.tsx
  src/components/diagram/extend-node.tsx
  src/components/diagram/transition-edge.tsx
  src/components/list/actor-list.tsx
  src/components/list/process-list.tsx
  src/index.tsx
Due: prettier, eslint, tsc, cspell

macbook touch-pad support
  src/components/diagram/diagram.tsx
Due: prettier, eslint, tsc, cspell

pnpm up -L
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

Mouse handler changed from state pattern to strategy pattern
  src/components/diagram/activity-node.tsx
  src/components/diagram/diagram.tsx
  src/components/diagram/extend-node.tsx
  src/components/diagram/listeners/add-activity-edge-strategy.ts
  src/components/diagram/listeners/add-comment-edge-strategy.ts
  src/components/diagram/listeners/add-start-edge-strategy.ts
  src/components/diagram/listeners/base-strategy.ts
  src/components/diagram/listeners/move-nodes-strategy.ts
  src/components/diagram/listeners/resize-activity-left-strategy.ts
  src/components/diagram/listeners/resize-activity-right-strategy.ts
  src/components/diagram/listeners/rotate-nodes-strategy.ts
  src/components/diagram/listeners/scale-nodes-strategy.ts
  src/components/diagram/listeners/scroll-strategy.ts
  src/components/diagram/listeners/select-box-strategy.ts
  src/components/diagram/listeners/select-circle-strategy.ts
  src/components/diagram/listeners/select-strategy.ts
  src/components/diagram/transition-edge.tsx
  src/data-model/activity-node-model.ts
  src/data-model/diagram-model.ts
  src/data-model/edge-model.ts
  src/data-model/extend-edge-model.ts
  src/data-model/node-model.ts
  src/data-model/transaction-edge-model.ts
Due: prettier, eslint, tsc, cspell

functions in the model stop expansion
  src/components/diagram/activity-node.tsx
  src/components/diagram/diagram.tsx
  src/components/diagram/extend-edge.tsx
  src/components/diagram/extend-node.tsx
  src/components/diagram/transition-edge.tsx
  src/components/dialog/about-dialog.tsx
  src/components/dialog/activity-dialog.tsx
  src/components/dialog/actor-dialog.tsx
  src/components/dialog/comment-dialog.tsx
  src/components/dialog/confirm-dialog.tsx
  src/components/dialog/load-dialog.tsx
  src/components/dialog/message-dialog.tsx
  src/components/dialog/process-dialog.tsx
  src/components/dialog/project-dialog.tsx
  src/components/dialog/save-dialog.tsx
  src/components/dialog/setting-dialog.tsx
  src/components/dialog/transition-dialog.tsx
  src/components/list/actor-list.tsx
  src/components/list/process-list.tsx
  src/components/main/main.tsx
  src/components/menu/menu.tsx
  src/components/toolbar/toolbar.tsx
  src/data-model/activity-node-model.ts
  src/data-model/actor-model.ts
  src/data-model/dialog-model.ts
  src/data-model/edge-model.ts
  src/data-model/extend-edge-model.ts
  src/data-model/extend-node-model.ts
  src/data-model/node-model.ts
  src/data-model/process-model.ts
  src/data-model/project-model.ts
  src/data-model/transaction-edge-model.ts
Due: prettier, eslint, tsc, cspell

move PointerStrategy to diagram
  src/components/diagram/activity-node.tsx
  src/components/diagram/diagram.tsx
  src/components/diagram/extend-node.tsx
  src/components/diagram/listeners/add-activity-edge-strategy.ts
  src/components/diagram/listeners/add-comment-edge-strategy.ts
  src/components/diagram/listeners/add-start-edge-strategy.ts
  src/components/diagram/listeners/base-strategy.ts
  src/components/diagram/listeners/move-nodes-strategy.ts
  src/components/diagram/listeners/resize-activity-left-strategy.ts
  src/components/diagram/listeners/resize-activity-right-strategy.ts
  src/components/diagram/listeners/rotate-nodes-strategy.ts
  src/components/diagram/listeners/scale-nodes-strategy.ts
  src/components/diagram/listeners/scroll-strategy.ts
  src/components/diagram/listeners/select-box-strategy.ts
  src/components/diagram/listeners/select-circle-strategy.ts
  src/components/diagram/listeners/select-strategy.ts
Due: prettier, eslint, tsc, cspell

Completed strategy patterning of pointer event
  src/components/diagram/activity-node.tsx
  src/components/diagram/diagram.tsx
  src/components/diagram/drag-strategy/add-activity-edge-strategy.ts
  src/components/diagram/drag-strategy/add-comment-edge-strategy.ts
  src/components/diagram/drag-strategy/add-start-edge-strategy.ts
  src/components/diagram/drag-strategy/move-nodes-strategy.ts
  src/components/diagram/drag-strategy/point-strategy.ts
  src/components/diagram/drag-strategy/resize-activity-left-strategy.ts
  src/components/diagram/drag-strategy/resize-activity-right-strategy.ts
  src/components/diagram/drag-strategy/rotate-nodes-strategy.ts
  src/components/diagram/drag-strategy/scale-nodes-strategy.ts
  src/components/diagram/drag-strategy/scroll-strategy.ts
  src/components/diagram/drag-strategy/select-box-strategy.ts
  src/components/diagram/drag-strategy/select-circle-strategy.ts
  src/components/diagram/drag-strategy/select-strategy.ts
  src/components/diagram/extend-node.tsx
  src/components/diagram/listener/multi-touch-listener.ts
  src/components/diagram/listener/pointer-listener.ts
  src/components/diagram/listener/wheel-listener.ts
  src/context/model-context.tsx
  src/data-model/extend-node-model.ts
Due: prettier, eslint, tsc, cspell

add delta-typescript-graph
  .github/workflows/delta-ts-graph
  src/components/diagram/listener/pointer-listener.ts
Due: prettier, eslint, tsc, cspell

fix file name
  .github/workflows/delta-ts-graph.yml
Due: prettier

fix version
  .github/workflows/delta-ts-graph.yml
Due: prettier

add dependabot
  .github/dependabot.yml
Due: prettier

Path conditions:
  prettier: any of: *.{tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
  eslint: any of: *.{tsx,ts,mts,mcs}
  tsc: any of: *.{tsx,ts}
  cspell: any of: *.{tsx,ts,mts,mcs,mjs,cjs,js,json,md}
