Repository ryoma100/escafeFlowEditor-REMAKE: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, tsc, cspell

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#

# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: pnpm audit

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: |
        pnpm prettier --write --ignore-unknown {staged_files}
        git add {staged_files}
    eslint:
      glob: "*.{tsx,ts,mts,mcs}"
      run: pnpm eslint {staged_files}
    tsc:
      glob: "*.{tsx,ts}"
      run: pnpm lint:tsc
    cspell:
      glob: "*.{tsx,ts,mts,mcs,mjs,cjs,js,json,md}"
      run: pnpm cspell lint --gitignore --cache {staged_files}
    test:
      run: pnpm test run

add: storybook play function
  docs/index.css
  docs/index.html
  src/components/dialog/__stories__/activity-dialog.stories.tsx
  src/components/dialog/activity-dialog.tsx
Due: prettier, eslint, tsc, cspell

pnpm up -L
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

fix: dialog margin
  src/index.css
Due: none

fix: tailwindcss v4
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/index.css
  vite.config.ts
Due: prettier, eslint, tsc, cspell

add: biome all rule
  biome.json
  src/components/diagram/diagram.tsx
  src/components/diagram/drag-strategy/add-activity-edge-strategy.ts
  src/components/diagram/drag-strategy/default-strategy.ts
  src/components/diagram/drag-strategy/move-end-edge-strategy.ts
  src/components/diagram/drag-strategy/move-start-edge-strategy.ts
  src/components/diagram/drag-strategy/resize-activity-left-strategy.ts
  src/components/diagram/drag-strategy/resize-activity-right-strategy.ts
  src/components/diagram/drag-strategy/rotate-nodes-strategy.ts
  src/components/diagram/drag-strategy/scale-nodes-strategy.ts
  src/components/diagram/listener/pointer-listener.ts
  src/context/theme-context.tsx
  src/data-model/edge-model.ts
  src/data-model/node-model.ts
Due: prettier, eslint, tsc, cspell

fix: use pnpm
  .github/workflows/ci.yml
Due: prettier

Revert "fix: use pnpm"
  .github/workflows/ci.yml
Due: prettier

change: storycap directory
  .gitignore
  cspell.json
  package.json
  reg.json
Due: prettier, cspell

add: corvu/resizable
  .vscode/settings.json
  biome.json
  cspell.json
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/dialog/about-dialog.tsx
  src/components/dialog/activity-dialog.tsx
  src/components/dialog/actor-dialog.tsx
  src/components/dialog/comment-dialog.tsx
  src/components/dialog/confirm-dialog.tsx
  src/components/dialog/load-dialog.tsx
  src/components/dialog/message-dialog.tsx
  src/components/dialog/process-dialog.tsx
  src/components/dialog/project-dialog.tsx
  src/components/dialog/save-dialog.tsx
  src/components/dialog/setting-dialog.tsx
  src/components/dialog/transition-dialog.tsx
  src/components/list/actor-list.tsx
  src/components/list/process-list.tsx
  src/components/main/main.tsx
  src/components/parts/button.tsx
  src/components/toolbar/toolbar.tsx
  src/index.css
Due: prettier, eslint, tsc, cspell

fix: dark-mode
  src/index.css
Due: none

fix: update github actions
  .github/workflows/cd.yml
Due: prettier

add styled select
  src/components/dialog/activity-dialog.tsx
  src/components/dialog/setting-dialog.tsx
  src/components/parts/select.tsx
  src/index.css
Due: prettier, eslint, tsc, cspell

add styled input
  src/components/dialog/activity-dialog.tsx
  src/components/dialog/actor-dialog.tsx
  src/components/dialog/process-dialog.tsx
  src/components/dialog/project-dialog.tsx
  src/components/dialog/transition-dialog.tsx
  src/components/main/main.tsx
  src/components/parts/button.tsx
  src/components/parts/input.tsx
  src/components/parts/toggle-icon-button.tsx
  src/index.css
Due: prettier, eslint, tsc, cspell

add styled textarea
  src/components/dialog/activity-dialog.tsx
  src/components/dialog/comment-dialog.tsx
  src/components/dialog/load-dialog.tsx
  src/components/dialog/save-dialog.tsx
  src/components/parts/textarea.tsx
  src/index.css
Due: prettier, eslint, tsc, cspell

add styled dialog
  src/components/dialog/about-dialog.tsx
  src/components/dialog/activity-dialog.tsx
  src/components/dialog/actor-dialog.tsx
  src/components/dialog/comment-dialog.tsx
  src/components/dialog/confirm-dialog.tsx
  src/components/dialog/load-dialog.tsx
  src/components/dialog/message-dialog.tsx
  src/components/dialog/process-dialog.tsx
  src/components/dialog/project-dialog.tsx
  src/components/dialog/save-dialog.tsx
  src/components/dialog/setting-dialog.tsx
  src/components/dialog/transition-dialog.tsx
  src/components/parts/dialog.tsx
  src/index.css
Due: prettier, eslint, tsc, cspell

update pnpm
  package.json
Due: prettier, cspell

fix: dark mode
  src/components/parts/dialog.tsx
Due: prettier, eslint, tsc, cspell

fix: no use splitProps
  src/components/dialog/activity-dialog.tsx
  src/components/dialog/actor-dialog.tsx
  src/components/dialog/process-dialog.tsx
  src/components/dialog/project-dialog.tsx
  src/components/dialog/transition-dialog.tsx
  src/components/main/main.tsx
  src/components/parts/button.tsx
  src/components/parts/dialog.tsx
  src/components/parts/input.tsx
  src/components/parts/radio-input.tsx
  src/components/parts/range-input.tsx
  src/components/parts/text-input.tsx
  src/components/parts/textarea.tsx
  src/components/parts/toggle-icon-button.tsx
Due: prettier, eslint, tsc, cspell

change: volta to mise
  lefthook.yml
  mise.toml
  package.json
  pnpm-lock.yaml
  src/components/parts/button.tsx
  src/components/parts/dialog.tsx
  src/components/parts/radio-input.tsx
  src/components/parts/range-input.tsx
  src/components/parts/select.tsx
  src/components/parts/text-input.tsx
  src/components/parts/textarea.tsx
Due: prettier, eslint, tsc, cspell

fix: node double click
  src/components/diagram/listener/pointer-listener.ts
Due: prettier, eslint, tsc, cspell

use html5 tag
  src/App.tsx
  src/components/list/actor-list.tsx
  src/components/list/process-list.tsx
  src/components/main/main.tsx
  src/components/menu/menu.tsx
  src/components/toolbar/toolbar.tsx
Due: prettier, eslint, tsc, cspell

fix: ipad css
  package.json
  src/components/parts/radio-input.tsx
Due: prettier, eslint, tsc, cspell

fix: radio-input css
  src/App.tsx
  src/components/parts/radio-input.tsx
  src/components/parts/toggle-icon-button.tsx
Due: prettier, eslint, tsc, cspell

fix: storybook does not work with node v22
  mise.toml
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

fix: touch menu in iOS
  index.html
  package.json
  src/App.tsx
  src/components/menu/app-menu.tsx
  src/components/parts/menu.tsx
Due: prettier, eslint, tsc, cspell

adjust layout
  src/components/list/actor-list.tsx
  src/components/list/process-list.tsx
  src/components/main/main.tsx
  src/components/menu/app-menu.tsx
  src/components/parts/menu.tsx
  src/components/toolbar/toolbar.tsx
Due: prettier, eslint, tsc, cspell

change github pages to cloudflare pages
  .github/workflows/cd.yml
Due: prettier

fix: key
  .github/workflows/cd.yml
Due: prettier

fix: url
  .github/workflows/cd.yml
  docs/index.html
Due: prettier

fix: deploy branch
  .github/workflows/cd.yml
Due: prettier

fix: readme
  README.md
Due: prettier, cspell

move github pages to cloudflare pages (#101)
  .github/workflows/cd.yml
  README.md
  docs/index.html
Due: prettier, cspell

fix: submit by about dialog
  src/components/dialog/about-dialog.tsx
Due: prettier, eslint, tsc, cspell

fix: data-testid
  src/components/dialog/activity-dialog.tsx
  src/components/parts/radio-input.tsx
Due: prettier, eslint, tsc, cspell

test ci
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

update ci
  .github/workflows/ci.yml
Due: prettier

test ci
  .github/composite_actions/client-setup/action.yml
  .github/workflows/ci.yml
Due: prettier

update ci
  .github/composite_actions/client-setup/action.yml
  .github/composite_actions/restore-node-cache/action.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: prettier
